body {
    position: relative;
    padding-bottom: 150px;
}
.main-stripe {
    background: #F5F5F5;
    padding-top: 50px;
    padding-bottom: 50px;
}

.demo-images-wrapper {
    position: relative;
}
.demo-image {
    display: inline-block;
    width: 300px;
    height: 450px;
    margin-right: 4%;
    margin-bottom: 4%;
}

.contact-form-panel {
    padding-top: 50px;
}

.contact-form-panel h1 {
    font-size: 3.5rem;
}

.contact-form-panel h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-form * {
    direction: rtl;
}

video {
    max-width: 100%;
    padding-top: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px;
    line-height: 100px;
    background-color: #f5f5f5;
}

.footer a {
    color: #FFF;
}
.footer a:hover {
    text-decoration: underline;
}