body {
    padding-top: 70px;
    background: transparent url("../images/photo_bg_pattern.png") center center repeat;
}

.rtl {
    direction: rtl;
    text-align: initial;
}

.ltr {
    direction: ltr;
    text-align: initial;
}

.navbar-whatsapp-link {
    padding: 5px 10px;
    background: #25D366;
    margin: 0 20px 0 0;
    color: #FFF;
}
.navbar-whatsapp-link:hover, .navbar-whatsapp-link:active {
    text-decoration: none;
    color: #FFF
}

#homepageCarousel .carousel-item img {
    max-height: 700px;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.contact-us-form-wrapper {
    border-top: 1px solid #27a745;
    border-bottom: 1px solid #27a745;
    background: #d4e7ff;
}

.contact-form {
    padding: 1rem;
}

.contact-form .input-error-message {
    visibility: hidden;
    display: block;
    text-align: right;
    color: #C11;
}

.contact-form-thank-you {
    direction: rtl;
    text-align: right;
    font-weight: bold;
    padding-top: 50px;
    box-sizing: border-box;
    display: none;
}

.direct-phone-call-link {
    font-size: 2em;
    text-align: center;
}

.categories-bullets .card {
    border: 0;
}
    
.categories-bullets .card-header {
    background: transparent;
    border-bottom: 1px solid #EEE
        
}
.categories-bullets button,
.categories-bullets button:focus,
.categories-bullets button:hover {
    text-decoration: none;
}
.categories-bullets button .fa-chevron-left {
    display: none;
}
.categories-bullets button .fa-chevron-down {
    display: inline-block;
}

.categories-bullets button.collapsed .fa-chevron-left {
    display: inline-block;
}
.categories-bullets button.collapsed .fa-chevron-down {
    display: none;
}
.social-links {
    font-size: 2em;
}