body {
    padding-top: 70px;
    background: transparent url("../images/photo_bg_pattern.png") center center repeat;
}

.rtl {
    direction: rtl;
    text-align: initial;
}

.ltr {
    direction: ltr;
    text-align: initial;
}
#homepageCarousel .carousel-item img {
    max-height: 600px;
    max-width: 100%;
}
.contact-form .input-error-message {
    visibility: hidden;
    display: block;
    text-align: right;
    color: #C11;
}

.contact-form-thank-you {
    direction: rtl;
    text-align: right;
    font-weight: bold;
    padding-top: 50px;
    box-sizing: border-box;
    display: none;
}

.categories-bullets .card {
    border: 0;
}
    
.categories-bullets .card-header {
    background: transparent;
    border-bottom: 1px solid #EEE
        
}

.categories-bullets button .fa-chevron-left {
    display: none;
}
.categories-bullets button .fa-chevron-down {
    display: inline-block;
}

.categories-bullets button.collapsed .fa-chevron-left {
    display: inline-block;
}
.categories-bullets button.collapsed .fa-chevron-down {
    display: none;
}